/*--------------------------------------------------------------
Browser Layout Reset
--------------------------------------------------------------*/
HTML
{
	margin: 0;
	padding: 0;
	border: 0;
}
BODY, DIV, SPAN, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, CODE, DEL, DFN, EM, IMG, Q, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, DIALOG, FIGURE, FOOTER, HEADER, HGROUP, NAV, SECTION, HR
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit 1em sans-serif;
	vertical-align: baseline;
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, DIALOG, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
	display: block;
}
BODY
{
	line-height: 1.5;
}
TABLE
{
	border-collapse: separate;
	border-spacing: 0;
}
CAPTION, TH, TD
{
	text-align: left;
	font-weight: normal;
	float: none !important;
}
TABLE, TH, TD
{
	vertical-align: middle;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
}
BLOCKQUOTE, Q
{
	quotes: "" "";
}
A IMG
{
	border: none;
}
A
{
	text-decoration: none;
}
:focus
{
	outline: 0;
}
/*--------------------------------------------------------------
Typography Reset
--------------------------------------------------------------*/
HTML
{
	font-size: 100.01%;
}
BODY
{
	font-size: 75%;
	color: #222;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
H1, H2, H3, H4, H5, H6
{
	font-weight: normal;
	color: #111;
}
H1
{
	font-size: 3em;
	margin-bottom: 0.5em;
}
H2
{
	font-size: 2em;
}
H3
{
	font-size: 1.5em;
	line-height: 1;
}
H4
{
	font-size: 1.2em;
}
H5
{
	font-size: 1em;
}
H6
{
	font-size: 0.8em;
}
H1 IMG, H2 IMG, H3 IMG, H4 IMG, H5 IMG, H6 IMG
{
	margin: 0;
}
P
{
	margin: 0 0 1.5em;
}
BLOCKQUOTE
{
	margin: 1.5em;
	color: #666;
	font-style: italic;
}
STRONG, DFN
{
	font-weight: bold;
}
EM, DFN
{
	font-style: italic;
}
SUP, SUB
{
	line-height: 0;
}
ABBR, ACRONYM
{
	border-bottom: 1px dotted #666;
}
ADDRESS
{
	margin: 0 0 1.5em;
	font-style: italic;
}
DEL
{
	color: #666;
}
PRE
{
	margin: 1.5em 0;
	white-space: pre;
}
PRE, CODE, TT
{
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
LI UL, LI OL
{
	margin: 0;
}
UL, OL
{
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}
UL
{
	list-style-type: disc;
}
OL
{
	list-style-type: decimal;
}
DL
{
	margin: 0 0 1.5em;
}
DL DT
{
	font-weight: bold;
}
DD
{
	margin-left: 1.5em;
}
TABLE
{
	margin-bottom: 1.4em;
	width: 100%;
}
TH
{
	font-weight: bold;
}
THEAD TH
{
	background: #C3D9FF;
}
TH, TD, CAPTION
{
	padding: 4px 10px 4px 5px;
}
TFOOT
{
	font-style: italic;
}
CAPTION
{
	background: #EEE;
}
