BODY
{
	/*[disabled]font:12px/1.5 Arial, sans-serif;*/
	font: 12px/1.5 Georgia, sans-serif;
	/*[disabled]font:12px/1.5 TitilliumText22LRegular, Helvetica, Arial, sans-serif;*/
}
/*Change Default Colors*/
A:link
{
	color: #666;
}
/*Magenta - unvisited link*/
A:visited
{
	color: #666;
}
/*Cyan - visited link 00ffff*/
A:hover
{
	color: #888;
}
/*Yellow - mouse over link ffff00*/
A:active
{
	color: #888;
}
/*Light Green - selected link*/
A:focus
{
}
