/*------- CALENDAR WIDGET -------*/
#wp-calendar
{
}
#wp-calendar TD
{
}
#wp-calendar #prev
{
}
#wp-calendar #next
{
}
/*------- SEARCH WIDGET -------*/
.widget_search H3
{
	display: none;
}
#searchbox
{
	padding: 0;
	float: left;
	clear: both;
	height: 27px;
	overflow: hidden;
	padding: 5px;
	background: #A2A2B1;
}
#searchbox UL
{
	margin: 0;
}
#searchbox UL LI
{
	list-style-type: none;
}
#searchbox #searchinput
{
	width: 140px;
	background: #8D8D8D;
}
#searchbox LABEL
{
	float: left;
	display: inline-block;
	height: 25px;
	line-height: 2.2;
	font-size: 12px;
	margin-right: 0px;
	text-transform: uppercase;
	padding: 0 5px;
	border: 1px solid #FFF;
	background: #FFFFFF;
}
#searchbox INPUT
{
	display: block;
	float: left;
	font-size: 14px;
	border-width: 0px;
}
#searchbox #searchsubmit
{
	display: block;
	float: left;
	padding: 0px;
	height: 27px;
	width: 27px;
	text-align: center;
}
* HTML #search LABEL, * HTML #searchinput, * HTML #searchsubmit
{
	line-height: 1;
	margin: 0.15em 0;
}
