/*------- PRIMARY -------*/
#primary
{
	background: transparent;
	overflow: hidden;
	width: 940px;
	float: left;
	display: inline;
	clear: left;
}
/*------- SECONDARY-------*/
#secondary
{
	float: left;
	clear: both;
	width: 940px;
	margin-top: 10px;
	overflow: hidden;
	background: #B8B8B8;
}
