/*------- PRIMARY -------*/
#primary
{
	background: transparent;
	overflow: visible;
	width: 940px;
	clear: both;
	float: left;
	display: inline;
	margin-bottom: 270px;
	/*+placement:shift 0px 260px;*/
	position: relative;
	left: 0px;
	top: 260px;
}
#primary #postbox
{
	width: 940px;
}
/*------- SECONDARY-------*/
#secondary
{
	width: 940px;
	height: 240px;
	margin-left: 0;
	margin-top: 240px;
	overflow: hidden;
	float: none;
	position: absolute !important;
	top: 0;
	margin-left: -470px;
	left: 50%;
	/*[disabled]display:inline;*/
	background: #B8B8B8;
}
