/*------- PRIMARY -------*/
#primary
{
	background: transparent;
	overflow: hidden;
	width: 580px;
	float: left;
	display: inline;
	clear: left;
}
/*------- SECONDARY-------*/
#secondary
{
	float: right;
	width: 340px;
	overflow: hidden;
	background: #B8B8B8;
}
