/*------- PRIMARY -------*/
#primary
{
	overflow: hidden;
	width: 580px;
	float: right;
	display: inline;
	clear: left;
}
/*------- SECONDARY-------*/
#secondary
{
	float: left;
	width: 340px;
	overflow: hidden;
}
