#primary
{
	background: transparent;
	overflow: hidden;
	width: 940px;
	float: left;
	display: block;
	clear: left;
}
#secondary
{
	background: transparent;
	float: left;
	height: 200px;
	width: 940px;
	display: block;
	clear: left;
}
