/*------- DEFAULT LINKS -------*/
BODY A:LINK
{
	color: #FA0105;
}
BODY A:VISTED
{
	color: #FA0105;
}
BODY A:ACTIVE
{
	color: #FA0105;
}
BODY A:HOVER
{
	color: #FA0105;
}
/*------- MAIN CONTAINERS -------*/
#wrapper
{
}
#layout
{
	width: 100%;
	margin: 0 auto 0 0;
	padding: 0;
}
/*------- MASTHEAD -------*/
#masthead
{
	margin: 0 auto;
	width: 940px;
	padding: 10px;
	line-height: 1;
}
#masthead:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
/*------- MASTLINE -------*/
#mastline
{
	width: auto;
	clear: left;
	float: left;
}
#mastline H1
{
	clear: none;
	margin: 0px;
	padding: 0px;
}
#mastline H1 A
{
	display: block;
	padding: 0;
}
#mastline H1 A SPAN
{
}
#mastline .description
{
	background: transparent;
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	display: none;
}
#mastline .description .thedate
{
	display: none;
}
/*------- CONTENT -------*/
#content
{
	margin: 0 auto;
	padding: 10px;
	width: 940px;
	overflow: hidden;
}
/*------- SIMPLE SINGLE NAVIGATION -------*/
.navigation
{
	float: left;
	width: 100%;
	padding: 10px 0;
}
.navigation .alignleft
{
	margin-left: 20px;
	padding: 5px;
}
.navigation .alignright
{
	margin-right: 20px;
	display: block;
	padding: 5px;
}
/*-------  PAGINATE NAVIGATION -------*/
.postnav
{
	background: #B2B2B2;
	padding: 5px;
	text-align: right;
	clear: both;
}
.postnav A
{
	padding: 5px;
}
.postnav SPAN
{
	padding: 5px;
}
/*------- PRIMARY -------*/
#primary
{
	display: block;
	overflow: hidden;
	clear: left;
}
.item
{
}
.itemhead
{
}
.itemhead H2 A
{
	display: block;
}
.itemhead .datebox
{
}
.itemhead .metadata
{
}
.itemhead .metadata .author-meta
{
}
.itemhead .metadata .chrono-meta
{
}
.itemhead .metadata .comments-meta
{
}
.itemhead .metadata .tags-meta
{
}
.itemhead .metadata A
{
}
.itemtext
{
	font-size: 125%;
	line-height: 1.5;
}
.itemtext A
{
}
.itemtext .alignleft
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.itemtext .aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.itemtext .alignright
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.itemtext P
{
}
.itemtext UL, .itemtext OL
{
	margin-bottom: 1em;
	margin-left: 30px;
}
.itemtext OL LI
{
	clear: left;
	list-style: decimal;
	list-style-position: outside;
	float: left;
}
.itemtext UL LI
{
	clear: left;
	list-style: disc;
	list-style-position: outside;
	float: left;
}
.itemtext .sharing UL LI
{
	clear: none;
}
/*------- EDITLINK -------*/
.editlink
{
	height: 0px;
	width: 0px;
}
.editlink SPAN
{
	background: #FFAA34;
	display: block;
	position: relative;
	clear: left;
	top: 5px;
	left: 6px;
	width: 60px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	padding: 2px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	/*+text-shadow:0 -1px 2px #333;*/
	-moz-text-shadow: 0 -1px 2px #333;
	-webkit-text-shadow: 0 -1px 2px #333;
	-o-text-shadow: 0 -1px 2px #333;
	text-shadow: 0 -1px 2px #333;
	/*+box-shadow:0px 0px 12px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
}
.editlink SPAN A
{
	display: block;
}
/*------- FEEDBACK/COMMENTS -------*/
#feedback
{
	margin-top: 30px;
	clear: both;
}
#feedback H3
{
	border-bottom: 2px solid #BEBEBE;
}
#feedback LABEL
{
	margin-left: 5px;
}
#feedback TEXTAREA
{
	width: 440px;
}
#feedback #respond
{
	margin-top: 30px;
}
#feedback SMALL #cancel-comment-reply-link
{
	clear: left;
	float: right;
	font-size: 10px;
	background: #F2FF56;
	border: 1px solid #CCCCCC;
	text-transform: uppercase;
	padding: 4px;
}
#feedback IMG
{
	padding: 4px;
	background: #D5D5D5;
	margin-right: 10px;
	/*+placement:shift 2px 5px;*/
	position: relative;
	left: 2px;
	top: 5px;
}
#feedback .commentlist LI
{
	border: 1px solid #707070;
	padding: 10px 3px;
	border-style: none none dotted;
}
#feedback .pingback
{
	display: none !important;
}
#feedback .trackback
{
	display: none !important;
}
#feedback .commentlist LI UL
{
	margin-left: 50px;
}
#feedback .commentlist LI UL LI
{
	border-style: none;
}
#feedback .commentlist LI UL LI LI
{
}
#feedback .commentlist LI UL LI LI LI
{
}
#feedback .comment-author
{
	font-size: 18px;
	padding: 0;
	margin: 0;
	height: 55px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
#feedback .comment-meta
{
	font-size: 13px;
	padding: 0;
	width: 253px;
	height: 0px;
	margin: 0;
	/*+placement:shift 56px -50px;*/
	position: relative;
	left: 56px;
	top: -50px;
}
#feedback .commentlist LI P
{
	margin-left: 56px;
	margin-bottom: 10px;
	font-size: 14px;
}
#feedback .comment-author CITE
{
	font-style: normal;
}
#feedback .commentlist .reply
{
	width: 39px;
	/*[empty]float:;*/
	margin: 0 0 0 auto;
	margin-right: 5px;
	margin-bottom: 5px;
}
#feedback P
{
	margin-bottom: 10px;
}
#feedback #commentform LABEL
{
	margin-bottom: 10px;
	display: block;
	width: 100px;
	font-size: 18px;
	float: left;
}
#feedback #commentform .comment-form-author .required
{
	float: left;
	font-size: 14px;
}
#feedback #commentform .comment-form-email .required
{
	float: left;
	font-size: 14px;
}
#feedback #submit
{
	cursor: pointer;
	border: 1px solid #A9AA9E;
	/*+box-shadow:0px 0px 3px #A9AA9E;*/
	-moz-box-shadow: 0px 0px 3px #A9AA9E;
	-webkit-box-shadow: 0px 0px 3px #A9AA9E;
	-o-box-shadow: 0px 0px 3px #A9AA9E;
	box-shadow: 0px 0px 3px #A9AA9E;
}
#feedback #submit:hover
{
	background: #BAC43B;
}
#feedback .bypostauthor
{
	clear: left;
	display: block;
	border: 1px solid #949494 !important;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*+box-shadow:0px 0px 10px #C3BBBB;*/
	-moz-box-shadow: 0px 0px 10px #C3BBBB;
	-webkit-box-shadow: 0px 0px 10px #C3BBBB;
	-o-box-shadow: 0px 0px 10px #C3BBBB;
	box-shadow: 0px 0px 10px #C3BBBB;
}
/*------- SECONDARY-------*/
#secondary
{
	overflow: hidden;
}
/*------- SECONDARY STYLING -------*/
#secondary #secondary-featured
{
	float: left;
	margin: 0 0 15px;
}
#secondary .sidebar-featured
{
	float: left;
	min-height: 300px;
	width: 100%;
	margin-bottom: 10px;
}
#secondary .sidebar-primary
{
	float: left;
	width: 100%;
	min-height: 300px;
	margin-bottom: 10px;
}
#secondary .sidebar-secondary
{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#secondary .widget
{
	float: left;
	clear: both;
	margin-bottom: 1em;
}
#secondary .widget_links UL
{
	width: 100%;
}
#secondary .widget_links UL LI
{
	float: left;
}
#secondary H3
{
	clear: both;
}
/*------- SECONDARY SIDEBAR STYLING -------*/
#sidebar UL
{
}
#sidebar UL UL
{
	margin-left: 0.5em;
}
#sidebar UL LI
{
	float: left;
	width: 100%;
}
/*------- FOOTER + FOOTBOX -------*/
#footbox
{
	width: 100%;
	background: #7E7E7E;
	margin: 0 auto;
	float: left;
}
#footer
{
	clear: both;
	width: 940px;
	margin: 0 auto;
	padding: 10px;
	background: #C4C4C4;
	float: left;
	margin-left: 50%;
	/*+placement:shift -480px 0px;*/
	position: relative;
	left: -480px;
	top: 0px;
}
#footer #primary-footer>DIV.col1
{
	clear: none;
	width: 940px;
	float: left;
	margin: 0 20px 0 auto;
	min-height: 171px;
	background: #A7A0A0;
}
#footer #secondary-footer>DIV>DIV
{
	clear: none;
	width: 305px;
	float: left;
	margin: 10px 12px 0 auto;
	min-height: 171px;
	background: #A7A0A0;
}
#footer #secondary-footer>DIV>DIV.col4
{
	margin: 10px 0 0 auto;
}
#footer>DIV#footertop
{
	clear: both;
	width: 100% !important;
	float: left;
	margin: 0 20px 10px auto;
	min-height: 28px;
	background: #A7A0A0;
}
#footer>DIV#footertop UL
{
	float: left;
}
#footer>DIV#footertop LI
{
	float: left;
	padding: 5px;
}
#footer>DIV#footerbottom
{
	clear: both;
	width: 100% !important;
	float: left;
	margin: 10px 20px 0 auto;
	min-height: 28px;
	background: #A7A0A0;
}
#footer>DIV#footerbottom UL
{
	float: left;
}
#footer>DIV#footerbottom LI
{
	float: left;
	padding: 5px;
}
#footer UL LI SPAN
{
	display: block;
	color: #333;
}
/*------- 404.PHP -------*/
#errorpage
{
	background: #DEF;
}
#errormessage
{
	background: #FFF;
	width: 800px;
	/*[disabled]height:300px;*/
	margin: 40px auto;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	border: 14px solid #ACC0D4;
	/*+box-shadow:5px 7px 10px #839AB0;*/
	-moz-box-shadow: 5px 7px 10px #839AB0;
	-webkit-box-shadow: 5px 7px 10px #839AB0;
	-o-box-shadow: 5px 7px 10px #839AB0;
	box-shadow: 5px 7px 10px #839AB0;
}
#errormessage H2
{
	text-transform: uppercase;
	margin: 10px;
	/*[disabled]float:left;*/
	padding: 5px 10px;
	letter-spacing: -2px;
	background: #E9E9E9;
	border: 1px solid #DBCECE;
	font-weight: 800;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
/*------- INDEX.PHP -------*/
#index
{
}
/*------- IMAGE.PHP -------*/
#image
{
	text-align: center;
	background: #000;
	margin: 0 auto;
}
/*------- PAGE.PHP -------*/
#page
{
}
/*------- SINGLE.PHP -------*/
#single
{
}
/*------- CSS DEBUG*/
#wrapper DIV
{
	background: url(./../../images/gradient/black10.png) !important;
}
.sitenav UL LI
{
	background: url(./../../images/gradient/white50.png) !important;
}
.sitenav UL LI:hover
{
	background: url(./../../images/gradient/white80.png) !important;
}
